:root {
    --bg-clr: #1B1924;
    --clr-white: #FFF;
    --clr-grey: #8F8F8F;
    --clr-lght-blue: #28A9F1;
    --clr-drk-blue: #04131C;
    --clr-purple: #444059;
    --font-size-xl: 1.5625rem;
    --font-size-l: 1.375rem;
    --font-size-md: 1.25rem; 
    --font-size-sm: 0.9375rem;
    --font-size-xs: 0.875rem; 
    --font-main: 'Josefin Sans', sans-serif;
    --font-input-text: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-clr);
    color: var(--clr-white);
    font-family: var(--font-main);
    text-align: center;
}

.container {
    width: 90%;
    max-width: 19.8125rem;
    margin: 3.19em auto 0;
}


/* ////////////////// HEADER ////////////////// */

header {
    font-weight: 700;
}


header > img {
    width: 5.625rem;
}

h1 {
    font-size: var(--font-size-xl); /* 1.5625rem */
    margin: .64em 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: .56em;
}

textarea, 
input, 
button {
    border: none;
    border-radius: .5rem;
}

textarea, 
input {
    background: var(--clr-purple);
    font-family: var(--font-input-text);
    font-size: var(--font-size-sm);
    color: var(--clr-grey);
}

textarea {
    flex: 1 1 100%;
    width: 19.8125rem;
    height: 7.375rem;
    padding: .75em 1em;
    resize: none;
}

input {
    display: inline-block;
    width: 10%; /* random small value to be able to be able to apply flex: 1 to get both input fields on one line */
    flex: 1;
    height: 2.5rem;
    text-align: center;
}

button {
    flex: 1 1 100%;
    font-size: var(--font-size-l); /* 1.375rem */
    width: 100%;
    padding: .75em;
    background: var(--clr-lght-blue);
    cursor: pointer;
}

/* /////////////// ENDORSEMENTS /////////////// */

.endorsements {
    text-align: left;
    font-family: var(--font-input-text);
}

.endorsement-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "from        delete"
        "endorsement endorsement"
        "to          like";
    font-size: var(--font-size-xs); /* 0.75rem */
    padding: 1.33em;
    margin: 1.33em 0;
    max-width: 19.8125rem;
    min-height: 4.5rem;
    text-align: left;
    overflow-wrap: break-word;
    color: var(--bg-clr);
    font-family: var(--font-input-text);
    background: var(--clr-white);
}

.endorsement-container > *:not(.endorsement) {
    margin: 0;
    font-weight: 700;
}

.from {
    grid-area: from;
}

.to {
    grid-area: to;
}

.endorsement {
    grid-area: endorsement;
}

.delete-icon {
    grid-area: delete;
    justify-self: end;
}

.delete-icon:hover {
    color: red;
}

.heart-icon {
    grid-area: like;
}

.heart-icon:hover, 
.liked {
    color: rgb(220, 0, 220);
}

.delete-icon:hover,
.heart-icon:hover {
    cursor: pointer;
}

/* ////////////// UTILITY CLASSES //////////////// */

.hidden {
    visibility: hidden;
}

/* //////////////// MEDIA QUERIES //////////////// */

@media (min-width: 1014px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        max-width: 936px;
    }

    .endorsement-container {
        max-width: 936px;
    }

}